.room {
    background-color: black;
    height: 100vh;
    color: white;
}

.applicant-window {
    height: 85%;
    background-color: antiquewhite;
    display: flex;
}

.room-btn {
    display: flex;
    width: 300px;
    margin-left: 40%;
    margin-right: 50%;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 20px;
}

.room-btn button {
    color: white;

}

.leave {
    background: blue;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-evenly;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.leave:hover {
    width: 110px;
    transition: ease 0.5s;
}

.mic {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.applicant {
width: 55%;
}
.applicant video{
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.multiple-face{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:10px ;
    border-radius: 10px;
    margin-left: 80%;
    position: fixed;

}
.multiple-face span{
    border-bottom: red 2px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    
}

.interviewer {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(pink, red);

}

.interviewer audio{
    display: none;
}

.interviewer div {
    height: 170px;
    width: 170px;
    position: fixed;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(0.4);
    background-color: aliceblue;
    animation: beats 0.5s infinite forwards;
}

@keyframes beats {
    0% {
        height: 170px;
        width: 170px;
    }

    25% {
        height: 200px;
        width: 200px;
    }

    30% {
        height: 200px;
        width: 200px;
    }

    50% {
        height: 220px;
        width: 220px;
    }

    75% {
        height: 200px;
        width: 200px;
    }

    80% {
        height: 200px;
        width: 200px;
    }

    100% {
        height: 170px;
        width: 170px;
    }
}